{% extends 'accounts/account_base.html' %}
{% load static %}
{% block account_contant %}
<div class="card position-absolute top-50 start-50 translate-middle shadow-lg border-0" style="min-width: 20rem;">
    <div class="card-header bg-danger text-light text-center h4">
        Password reset complete
    </div>
    <div class="card-body">
        <small class="text-dark">
            Your password has been set. You may go ahead and log in now.
        </small>
        <div class="text-center mt-2">
            <a href="{% url 'loginPage' %}" class="btn btn-sm btn-danger">Log In</a>
        </div>
    </div>
</div>
{% endblock %}